<div class="outer">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h1>
                <span class="F">F</span>
                <span class="u">u</span>
                <span class="n">n</span>
                <span class="d">d</span>
                <span class="o">o</span>
                <span class="oo">o</span>
            </h1>
            <h2 style="font-size: 20px;">Sign in</h2>
            <h3 style="font-size: 20px;">Use your Fundoo Account</h3>
        </div>


        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email or Phone</mat-label>
                <input matInput placeholder="Email or Phone">

            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">

            </mat-form-field>
        </div>

        <div class="innerDiv">
            <a href="#" class="myAccount">Forgot Password?</a>
        </div>
        <br />
        <button class="Create">Create Account</button>
        <button class="Next">Next</button>

    </div>
</div>