.outer{
    padding: 10px 10px 10px 10px;
    border-radius: 8px ;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    border: 1px solid black;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.F{
    color: blue;
}
.u{
    color: red;
}
.n{
    color: orange;
}
.d{
    color: green;
}
.o{
    color: red;
}
.oo{
    color: blue;
}
.h2{
    font-size: 20px;

}
