<div class="outer">
    <div fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <h1>
                    <span class="F">F</span>
                    <span class="u">u</span>
                    <span class="n">n</span>
                    <span class="d">d</span>
                    <span class="o">o</span>
                    <span class="oo">o</span>
                </h1>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <h2 style="font-size: 20px;">Sign in</h2>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <h3 style="font-size: 20px;">Use your Fundoo Account</h3>
            </div>
        </div>


        <div>
            <mat-form-field appearance="outline" class="email">
                <mat-label>Email or Phone</mat-label>
                <input matInput placeholder="Email or Phone" formControlName="email">
                <mat-error>Email or Phonenumber is required</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="password">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
                <mat-error>Password is required</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="Forgot">
            <button mat-button color="primary" routerLink="/forgot">Forgot Password?</button>
        </div>
        <br /><br />
        <mat-hint>Not your computer? Use Guest mode to sign in privately.</mat-hint>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="learn">
            <button mat-button color="primary">Learn more</button>
        </div>
        <br />

        <div fxLayout="row" fxLayoutAlign="space-between center" class="next">
            <button mat-button color="primary" routerLink="/register">Create account</button>
            <button mat-flat-button color="primary">Next</button>
        </div>
    </form>

    </div>
</div>