.outer{
    padding: 10px 10px 10px 10px;
    border-radius: 8px ;
    margin-top: 2.5%;
    margin-left: 32%;
    margin-right: 32%;
    border:1px solid rgb(189, 186, 186);
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.F{
    color: blue;
}
.u{
    color: red;
}
.n{
    color: orange;
}
.d{
    color: green;
}
.o{
    color: red;
}
.oo{
    color: blue;
}
.h2{
    font-size: 20px;

}
.email{
    width: 60vh;
}
.password{
    width: 60vh;
}
.next{
    border: 1px solid white;
    width: 100%;
}
.Forgot{
    border: 1px solid white;
    width: 100%;
    top: 10%;
}
.learn{
    border: 1px solid white;
    width: 100%;
}