
    <div class="icons" >
        <img src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        <img src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        <img src="../../../assets/palette_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        <img src="../../../assets/image_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        <img src="../../../assets/system_update_alt_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        <img src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz24.svg" alt="">
    </div>
