<div class="outer">
    <div fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h1>
                        <span class="F">F</span>
                        <span class="u">u</span>
                        <span class="n">n</span>
                        <span class="d">d</span>
                        <span class="o">o</span>
                        <span class="oo">o</span>
                    </h1>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h2 class="h2">Reset Password</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-hint>Create new password</mat-hint>
                </div>


            </div>
            <br />
            <div>
                <mat-form-field appearance="outline" class="new">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password" formControlName="Newpassword">
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="confirm">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" formControlName="Cpassword">
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
            </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="reset">
            <button mat-flat-button color="primary">Reset</button>
        </div>
    </form>
    </div>


</div>