.F{
    color: blue;
}
.u{
    color: red;
}
.n{
    color: orange;
}
.d{
    color: green;
}
.o{
    color: red;
}
.oo{
    color: blue;
}
.outer{
    padding: 10px 10px 10px 10px;
    border-radius: 8px ;
    margin-top: 2.5%;
    margin-left: 35%;
    margin-right: 35%;
    border:1px solid rgb(189, 186, 186);
    height: 60vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}