.main-div {
    margin-top: 50px;
}

.main-div mat-card {
    width: 40%;
    border-radius: 10px;
}

.title-section img {
    width: 5%;
    height: 4%;
}

.note-section {
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    font-weight: bold;
    letter-spacing: .00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: center;
    margin-bottom: 10px;
    // padding: bottom 15px;
    // margin-top: -5px;
    
}
.icons{
    height: 25px;
    width: 20px;;
    display:flex;
    justify-content:flex-end;

}
