<div class="outer">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h1>
                        <span class="F">F</span>
                        <span class="u">u</span>
                        <span class="n">n</span>
                        <span class="d">d</span>
                        <span class="o">o</span>
                        <span class="oo">o</span>
                    </h1>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h2 class="h2">Forgot Password</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-hint>Enter your recovery email</mat-hint>
                </div>
                

            </div>
            <br />
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field>
            </div>

        </div>
        <section>

            <div class="Next">
                <button mat-flat-button color="primary">Next</button>
            </div>
        </section>
    </div>

</div>