<div class="outer">
    <div fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h1>
                        <span class="F">F</span>
                        <span class="u">u</span>
                        <span class="n">n</span>
                        <span class="d">d</span>
                        <span class="o">o</span>
                        <span class="oo">o</span>
                    </h1>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h2 class="h2">Forgot Password</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-hint>Enter your recovery email</mat-hint>
                </div>


            </div>
            <br />
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" class="email">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="Email">
                    <mat-error>Email is required</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="end center" class="next">
            <button mat-flat-button color="primary">Next</button>
        </div>
        </form>
    </div>

</div>