.F{
    color: blue;
}
.u{
    color: red;
}
.n{
    color: orange;
}
.d{
    color: green;
}
.o{
    color: red;
}
.oo{
    color: blue;
}
.h2{
    font-size: 20px;

}


.outer{
    padding: 10px 10px 10px 10px;
    border-radius: 8px ;
    margin-top: 2.5%;
    margin-left: 20%;
    margin-right: 20%;
    border:1px solid rgb(189, 186, 186);
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img{
    height: auto;
    width: 200px;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.username{

    width: 75vh;
}
.signin{
    margin-left: 8px;
    min-width: 120px;
}
.btn-layout{
    margin-top:80vh;
   margin-right: -25vh;
}
